/* All file CSS */
*,*::after,*::before{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

/* Heading/Banner (section 1) CSS */
#head{
    background: url(./img/bgimg.jpg);
}
.txt{
    font-family: 'Ibarra Real Nova',serif;
    text-align: center;
    font-size: 2.2rem;
}
.txt-co{
    color: #0586ca;
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}

/* About Section (section 2) CSS */
.about{
    display: flex;
    justify-content: center;
    padding: 8rem 0 5rem 0;
    gap: 9rem;
}
.about-img{
    background: url('./img/Rabbithole-Typography.svg');
    width: 450px;
    height: 450px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}
.anime{
    position: absolute;
    animation-name: updown;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation: updown 2s linear 0 infinite; */
}
@keyframes updown {
    0%{
        top:0;
    }
    50%{
        top: 2rem;
    }
    100%{
        top:0;
    }
}
.about-dec{
    width: 75rem;
    font-family: 'Ibarra Real Nova',serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-dec h2{
    font-size: 3.5rem;
    font-weight: bolder;
}
.about-dec p{
    font-size: 2rem;
}
.ab-color{
    color: #0586ca;
}

.dividor{
    width: 70%;
    margin: auto;
    border-top: 2px dotted rgb(192, 192, 192);
}

/* Skills (Section 3) CSS */
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.skill h3{
    font-size: 3.5rem;
    font-family: 'Ibarra Real Nova',serif;
    font-weight: bolder;
}
.s-block{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.skill-block{
    width: 45%;
    display: flex;
    margin: 3rem;
    gap: 2rem;
}
.skill-block img{
    width: 25%;
    height: 100%;
}
.skill-block h3{
    font-size: 2.5rem;
    font-weight: 1px !important;
}
.skill-block p{
    font-size: 1.8rem;
    margin-top: 2rem;
}